<div class="container">
  <h1>Restaurants</h1>
  <p><%= link_to "Add new restaurant", new_restaurant_path %></p>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</div>
